* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url(https://media.istockphoto.com/id/1315152008/photo/passport-airplane-tickets-yellow-suitcase-sun-hat-and-protective-face-mask-on-yellow.jpg?s=612x612&w=0&k=20&c=3A0FzoCwSxC7rdZBEb-T-88Q9r83BYynPG1yp3HA2i4=);
    background-size: cover;
    background-position: center;
   
    font-family: sans-serif;
}

.menubar {
    background: rgb(0,100,0);
    text-align: center;

}
.menubar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;

}
.menubar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menubar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menubar ul li:hover
{
    background: #2bab0d;
    border-radius: 3px;
}
.menubar .fa{
    margin-right: 8px; 
}
.submenu1 {
    display: none;
}
.menubar ul li:hover .submenu1
{
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;
}
.menubar ul li:hover .submenu1 ul{
    display: block;
    margin: 10px;
}
.menubar ul li:hover .submenu1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menubar ul li:hover .submenu1 ul li:last-child
{
    border-bottom: none;
}
.menubar ul li:hover .submenu1 ul li a:hover
{
    color: #b2ff00;
}

.thumbnail1, .thumbnail2, .thumbnail3 {
    border-radius: 19px;
    height: 200px;
    width: 200px;
}
.column1, .column2, .column3 {
    float: left;
    width: 20%;
    padding: 10px 10px;
}
.card1, .card2, .card3 {
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: #151f30;
}
h3 {
    color: white;
}


.container1{
    flex-direction: row;
}
.thumbnail4, .thumbnail5, .thumbnail6, .thumbnail7, .thumbnail8 {
    border-radius: 19px;
    height: 200px;
    width: 200px;
}
.column4, .column5, .column6, .column7, .column8 {
    float: left;
    width: 20%;
    padding: 10px 10px;
}
.card4, .card5, .card6, .card7, .card8 {
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: #151f30;
}
.container2{
    flex-direction: row;
}
a {
    text-decoration: none;
}
form {
    float: right;
    padding: 25px;
}
