---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>togo</title>
    <link rel="shortcut icon" href="togo-favicon.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="manifest" href="manifest.json">
    <base href="https://mgurunikhil.github.io/toGoWeb/">
</head>
<body class="flex flex-col items-center justify-center min-h-screen bg-base-300">    
    {% include nav.html %}
    <div class="hero min-h-screen" style="background-image: url('https://source.unsplash.com/random/1920x1080');">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">Welcome to ToGo</h1>
                <p class="mb-5">Explore the world like a local, with locals!</p>
                <a href="home" class="btn btn-primary">Get Started</a>
            </div>
        </div>
    </div>
    <div class="grow p-5 flex items-center justify-center">
        <div class="card bg-base-100 max-w-[800px] shadow-xl">
            <div class="card-body">
              <h2 class="card-title">tourists?</h2>
              <p>Ready to break free from cookie-cutter tours and delve deep into vibrant cultures worldwide? Introducing ToGo – the leading marketplace where genuine encounters await! Browse our carefully curated collection of local guides ready to reveal captivating sights, sounds, and flavors beyond traditional tourist routes. Embrace authenticity, save time planning, and cultivate cherished memories during every step of your adventure. Register today to unlock extraordinary experiences!<p>
              <div class="card-actions justify-end">
                <a class="btn btn-success" href="home">Sign up now!</a>
              </div>
            </div>
          </div>
    </div>
    <div class="grow p-5 pt-0 flex items-center justify-center">
        <div class="card bg-base-100 max-w-[800px] shadow-xl">
            <div class="card-body">
              <h2 class="card-title">guides?</h2>
              <p>Do you have a passion for exploring your own city and sharing its secrets with others? If so, join ToGo – the thriving platform where curious travelers meet friendly locals like yourself! As a registered guide, you'll gain access to countless opportunities to showcase your area's best-kept secrets, engage with visitors from around the world, and earn extra income along the way. Don't miss out on this chance to bring joy to fellow adventurers while making lifelong connections.</p>
              <div class="card-actions justify-end">
                <a class="btn btn-success" href="home">Sign up now!</a>
              </div>
            </div>
          </div>
    </div>
    {% include footer.html %}
</body>
</html>
