*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.jag{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    place-items: center;
  

}
body{
  background-color: #ffad06;
    min-width: 100vw;
}
.form-box{
    width: 380px;
    height: 480px;
    /* position: relative; */
    /* margin: auto; */
    background: #fff;
    /* position: absolute; */
    padding: 5px;
    border-radius: 30px;
    border-color: black;

    
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;

}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ea560b,#ffad06);
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    top: 300px;
    position: absolute;
    width: 280px;
    transition: .5s;
    z-index: 999 ;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    height: 30px;
    padding: 10px,30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ea560b,#ffad06);
    border: 0;
    outline: none;
    border-radius: 40px;
}
.chech-box{
    margin: 30px 10px 39px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 69px;
    position: absolute;
}

   .btn .input-group:hover::after{
        top: 0;
        left: 0;
        position: absolute;
        width: 110px;
        height: 100%;
        background: linear-gradient(to right, #ffad06,#ea560b);
        border-radius: 30px;
        transition: .5s;
    }
