* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://media.istockphoto.com/id/1315152008/photo/passport-airplane-tickets-yellow-suitcase-sun-hat-and-protective-face-mask-on-yellow.jpg?s=612x612&w=0&k=20&c=3A0FzoCwSxC7rdZBEb-T-88Q9r83BYynPG1yp3HA2i4=);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    
}
.menubar {
    background: rgb(0,100,0);
    text-align: center;

}
.menubar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;

}
.menubar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;

}
.menubar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menubar ul li:hover
{
    background: #2bab0d;
    border-radius: 3px;
}
.menubar .fa{
    margin-right: 8px; 
}
.submenu1 {
    display: none;
}
.menubar ul li:hover .submenu1
{
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;
}
.menubar ul li:hover .submenu1 ul{
    display: block;
    margin: 10px;
}
.menubar ul li:hover .submenu1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menubar ul li:hover .submenu1 ul li:last-child
{
    border-bottom: none;
}
.menubar ul li:hover .submenu1 ul li a:hover
{
    color: #b2ff00;
}

.profile-card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    background: rgb(235, 235, 184);
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    
}
.image {
    position:  relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;
}
.image .profile-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
form {
    float: right;
    padding: 25px;
}
input {
    height: 40px;
    width: 200px;
    border-radius: 10px;
}
.profile-card .data {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data .name, .mail, .age, .lang, .gender, .city{
    font-size: 20px;
    font-weight: 500;
    color: blue;
}
.white {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh;
}
.button {
    background-color: bisque;
}
