<footer class="footer footer-center bg-base-100 p-10">
    <aside>
        <img src="https://mgurunikhil.github.io/toGoWeb/togo.png" class="w-[5em]">
        <p class="font-bold">
            Explore the world like a local, with locals!
        </p>
        <p class="font-bold">Copyright © 2024 - All right reserved</p>
        <div class="flex justify-center mt-4">
            <a href="https://twitter.com" class="mx-2">
                <img src="https://img.icons8.com/fluent/48/000000/twitter.png" alt="Twitter" class="w-8 h-8">
            </a>
            <a href="https://facebook.com" class="mx-2">
                <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png" alt="Facebook" class="w-8 h-8">
            </a>
            <a href="https://instagram.com" class="mx-2">
                <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" alt="Instagram" class="w-8 h-8">
            </a>
        </div>
    </aside>
</footer>

<link rel="manifest" href="manifest.json">